p {
	color: navy;
}

p.info {
	font-size: small;
	background-color:#dfdfdf;
}

h1 {
	background-color: #7f7fcf;
}

h2 {
	border: solid 1px black;
	margin: 5px;
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 1024px;
	grid-auto-rows: 200px 200px;
	grid-gap: 10;
	padding: 5px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}
